@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-08-03 10:43:52
 * @version $Id$
 */
body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,p,form,header,section,article,footer,*{margin:0;padding:0;}
html, body{width:100%;height:100%;font-size:14px;color:#000;letter-spacing: .2px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;background: #fff;}
h1,h2,h3,h4,h5,h6{font-size:100%}
em,b{font-style:normal}
li{list-style-type: none;}
a{color:#fff;text-decoration: none;}
a:link,a:visited,a:hover,a:active{text-decoration: none;color:#fff;}
input,textarea,button,select,textarea{outline:none;font:12px/1.5 tahoma,'\5FAE\8F6F\96C5\9ED1',sans-serif}
img{border:0}
table{border-collapse:collapse;border-spacing:0}
td,th,ul,ol{padding:0}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/ 
::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
    background-color: #F5F5F5; 
} 
   
/*定义滚动条轨道 内阴影+圆角*/ 
::-webkit-scrollbar-track { 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 8px; 
    background-color: #F5F5F5; 
} 
   
/*定义滑块 内阴影+圆角*/ 
::-webkit-scrollbar-thumb { 
    border-radius: 8px; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); 
    background-color: hsla(220,4%,58%,.3); 
} 


/* 清浮动 */
.clearfix{zoom:1;}
.clearfix:after{display:block;content:'';height:0;clear: both;visibility: hidden;}
/* 密码软键盘隐藏 */
input::-webkit-input-safebox-button{display: none;}

/* 模块标题 */
h3.title{font-size: 40px;text-transform: uppercase;text-align:center;margin-bottom: 35px;color:#10A7AF;}
h3.title:before,h3.title:after{width:120px;border:4px double #c2c2c2;display:inline-block;content: '';margin:9px 10px;}

/* flex布局 */
.flex{display:flex;}
.flex-space{display: flex;justify-content: space-between;}
.flex-start{align-self: flex-start;}
.flex-end{align-self: flex-end;}
/* 蒙版 */
.mask{position:fixed;top:0;left:0;z-index:2000;display:none;width:100%;height:100%;cursor:pointer;background:rgba(0,0,0,.4);}
/* 返回顶部 */
.toTop{width:0px;
	height:0px;
	border-top:10px solid rgba(0,0,0,0);
	border-right:10px solid  rgba(0,0,0,0);
	border-bottom:10px solid #10A7AF;
	border-left:10px solid  rgba(0,0,0,0);}
.toTop:before{position:absolute;top:10px;left:50%;transform:translateX(-50%);content:'';width:7px;height:12px;background: #10A7AF;}
/* 返回顶部 */
#toTop{display: none;position:fixed;top:initial;bottom:28px;right:1%;font-size:25px;color: #10A7AF;cursor:pointer;animation:goTop .8s infinite;}
@keyframes goTop{
	0%{bottom:28px;}
	100%{bottom:33px;}
}
@-moz-keyframes goTop{
	0%{bottom:28px;}
	100%{bottom:33px;}
}
@-webkit-keyframes goTop{
	0%{bottom:28px;}
	100%{bottom:33px;}
}
@-o-keyframes goTop{
	0%{bottom:28px;}
	100%{bottom:33px;}
}

/* 边框线 */
.border-b{border-bottom:1px solid #eee;}

/* 颜色 */
.bag_909399{background: #909399;}
.bag_909399:before{background-color: #909399;}
.bag_909399:after{border-left-color: #909399;}

.bag_409EFF{background: #409EFF;}
.bag_409EFF:before{background-color: #409EFF;}
.bag_409EFF:after{border-left-color: #409EFF;}

.bag_E6A23C{background: #E6A23C;}
.bag_E6A23C:before{background-color: #E6A23C;}
.bag_E6A23C:after{border-left-color: #E6A23C;}

.bag_F56C6C{background: #F56C6C;}
.bag_F56C6C:before{background-color: #F56C6C;}
.bag_F56C6C:after{border-left-color: #F56C6C;}

.bag_67C23A{background: #67C23A;}
.bag_67C23A:before{background-color: #67C23A;}
.bag_67C23A:after{border-left-color: #67C23A;}

.bag_454b5b{background-color: #454b5b}
.bag_0e889f{background-color: #0e889f}
.bag_c09b28{background-color: #c09b28}
.bag_c45a4d{background-color: #c45a4d}
.bag_638c0a{background-color: #638c0a}

.cont_top_454b5b{color: #454b5b}
.cont_top_454b5b:before,.cont_top_454b5b:after{background-color: #454b5b}
.cont_top_c09b28{color: #c09b28}
.cont_top_c09b28:before,.cont_top_c09b28:after{background-color: #c09b28}
.cont_top_638c0a{color: #638c0a}
.cont_top_638c0a:before,.cont_top_638c0a:after{background-color: #638c0a}
.cont_bottom_0e889f{color:#0e889f;}
.cont_bottom_0e889f:before,.cont_bottom_0e889f:after{background-color: #0e889f}
.cont_bottom_c45a4d{color:#c45a4d;}
.cont_bottom_c45a4d:before,.cont_bottom_c45a4d:after{background-color: #c45a4d}



.cont_bottom_text_454b5b{border-color: #454b5b}
.cont_bottom_text_454b5b:before{background-color: #454b5b}
.cont_bottom_text_c09b28{border-color: #c09b28}
.cont_bottom_text_c09b28:before{background-color: #c09b28}
.cont_bottom_text_638c0a{border-color: #638c0a}
.cont_bottom_text_638c0a:before{background-color: #638c0a}

.cont_top_text_0e889f{border-color:#0e889f;}
.cont_top_text_0e889f:before{background-color: #0e889f}
.cont_top_text_c45a4d{border-color:#c45a4d;}
.cont_top_text_c45a4d:before{background-color: #c45a4d}

/*标签*/
.tag{display: inline-block;margin: 0 5px 5px 0;padding: 0 10px;height: 32px;line-height: 30px;font-size: 12px;color: #409eff;border-radius: 4px;box-sizing: border-box;border: 1px solid rgba(64,158,255,.2);white-space: nowrap;background-color: rgba(64,158,255,.1);}
.tag-green{background-color: rgba(103,194,58,.1);border-color: rgba(103,194,58,.2);color: #67c23a;}
.tag-orange{background-color: rgba(230,162,60,.1);border-color: rgba(230,162,60,.2);color: #e6a23c;}
.tag-red{background-color: hsla(0,87%,69%,.1);border-color: hsla(0,87%,69%,.2);color: #f56c6c;}
.tag-gray{background-color: hsla(220,4%,58%,.1);border-color: hsla(220,4%,58%,.2);color: #909399;}